<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>



  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Transactions</h1>
    <%= link_to "New transaction", new_transaction_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="transactions" class="min-w-full">
    <div class="-mx-4 mt-8 flow-root sm:mx-0">
    <% @grouped_transactions.each do |date, transactions| %>
        <h1 class="text-base font-semibold leading-6 text-gray-900"><%= date %></h1>
        <table class="min-w-full">
      <% transactions.each do |transaction| %>
            <tr class="border-b border-gray-200">
              <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                <div class="font-medium text-gray-900"><%= transaction.name %></div>
                <div class="mt-1 truncate text-gray-500"><%= transaction.category %></div>
              </td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= transaction.description %></td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= transaction.description %></td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= transaction.description %></td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= transaction.description %></td>
              <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0"><%= transaction.amount %></td>
            </tr>
      <% end %>
          <tfoot>
          <tr>
            <th scope="row" colspan="5" class="hidden pl-4 pr-3 pt-6 text-right text-sm font-normal text-red-600 sm:table-cell sm:pl-0">Spend on Liabilities</th>
            <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-red-600  sm:hidden">Spend on Liabilities</th>
            <td class="pl-3 pr-4 pt-6 text-right text-sm text-red-600  sm:pr-0">€8,800.00</td>
          </tr>
          <tr>
            <th scope="row" colspan="5" class="hidden pl-4 pr-3 pt-6 text-right text-sm font-normal text-green-500  sm:table-cell sm:pl-0">Spend on Assests</th>
            <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-green-500 sm:hidden">Spend on Assests</th>
            <td class="pl-3 pr-4 pt-6 text-right text-sm text-green-500 sm:pr-0">€8,800.00</td>
          </tr>
          <tr>
            <th scope="row" colspan="5" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Transactions</th>
            <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Transactions</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-0"><%= transactions.count %></td>
          </tr>
          <tr>
            <th scope="row" colspan="5" class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Total</th>
            <th scope="row" class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Total</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-0"><%= transactions.sum(&:amount) %></td>
          </tr>
          </tfoot>
        </table>
    <% end %>
    </div>
  </div>
</div>
